/*
 * padding and margin helpers
**/
$dirs: (top, right, bottom, left);
$sizes: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
@each $size in $sizes {
  .p#{$size} {
    padding: $size+px !important;
  }
  .m#{$size} {
    margin: $size+px !important;
  }

  @each $dir in $dirs {
    .p#{str-slice($dir,1,1)}#{$size} {
      padding-#{$dir}: $size+px !important;
    }
    .m#{str-slice($dir,1,1)}#{$size} {
      margin-#{$dir}: $size+px !important;
    }
  }

  .ptb#{$size} {
    padding-top: $size+px !important;
    padding-bottom: $size+px !important;
  }
  .mtb#{$size} {
    margin-top: $size+px !important;
    margin-bottom: $size+px !important;
  }

  .plr#{$size} {
    padding-left: $size+px !important;
    padding-right: $size+px !important;
  }
  .mlr#{$size} {
    margin-left: $size+px !important;
    margin-right: $size+px !important;
  }
}
